# Turkey Inflation

World Bank:


*   https://data.worldbank.org/country/TR




Google Trends:

*   https://www.kaggle.com/datasets/rogerdata/inflation-data-from-around-the-world

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Get Dataset
data = pd.read_csv("world_bank_tr.csv")
display(data)

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0,Turkiye,TUR,"Internally displaced persons, total displaced ...",VC.IDP.TOCV,NaN,NaN,NaN,NaN,NaN,...,1.000000e+06,9.540000e+05,9.540000e+05,9.540000e+05,1.108000e+06,1.113000e+06,1.097000e+06,1.099000e+06,1.099000e+06,1.099000e+06
1,1,Turkiye,TUR,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,NaN,NaN,NaN,NaN,NaN,...,5.826705e+01,4.763420e+01,4.750514e+01,4.816591e+01,4.093162e+01,4.222251e+01,4.306473e+01,4.490899e+01,2.698279e+01,3.409400e+01
2,2,Turkiye,TUR,Commercial service exports (current US$),TX.VAL.SERV.CD.WT,NaN,NaN,NaN,NaN,NaN,...,4.349800e+10,5.877500e+10,6.220800e+10,5.525900e+10,4.579100e+10,5.323700e+10,5.856300e+10,6.642100e+10,3.787600e+10,6.108700e+10
3,3,Turkiye,TUR,Merchandise exports by the reporting economy (...,TX.VAL.MRCH.WL.CD,3.190000e+08,3.470000e+08,3.809000e+08,3.679000e+08,4.109000e+08,...,1.524620e+11,1.614810e+11,1.665050e+11,1.509820e+11,1.492470e+11,1.644950e+11,1.771690e+11,1.808330e+11,1.696380e+11,NaN
4,4,Turkiye,TUR,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R4.ZS,9.122257e+00,1.077810e+01,6.694671e+00,6.740962e+00,7.179362e+00,...,2.160492e+01,2.044583e+01,1.951397e+01,1.795463e+01,1.747609e+01,1.586967e+01,1.511422e+01,1.581115e+01,1.472097e+01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437,1437,Turkiye,TUR,Average precipitation in depth (mm per year),AG.LND.PRCP.MM,NaN,5.930000e+02,5.930000e+02,5.930000e+02,5.930000e+02,...,5.930000e+02,5.930000e+02,5.930000e+02,5.930000e+02,5.930000e+02,5.930000e+02,5.930000e+02,5.930000e+02,NaN,NaN
1438,1438,Turkiye,TUR,Land area where elevation is below 5 meters (%...,AG.LND.EL5M.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.725848e-01,NaN,NaN,NaN,NaN,NaN,NaN
1439,1439,Turkiye,TUR,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.K2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.767666e+03,NaN,NaN,NaN,NaN,NaN,NaN
1440,1440,Turkiye,TUR,Arable land (hectares per person),AG.LND.ARBL.HA.PC,NaN,8.144753e-01,7.966963e-01,8.010962e-01,7.782360e-01,...,2.733488e-01,2.686738e-01,2.649910e-01,2.592717e-01,2.515694e-01,2.436112e-01,2.381737e-01,2.345425e-01,2.327914e-01,NaN
1441,1441,Turkiye,TUR,Fertilizer consumption (kilograms per hectare ...,AG.CON.FERT.ZS,NaN,3.249685e+00,3.204747e+00,4.567357e+00,4.044199e+00,...,1.003464e+02,1.123814e+02,1.053308e+02,1.066700e+02,1.377333e+02,1.322299e+02,1.097276e+02,1.259661e+02,1.496420e+02,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1442 entries, 0 to 1441
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1442 non-null   int64
 1   Country Name    1442 non-null   object
 2   Country Code    1442 non-null   object
 3   Indicator Name  1442 non-null   object
 4   Indicator Code  1442 non-null   object
 5   1960            249 non-null    float64
 6   1961            270 non-null    float64
 7   1962            280 non-null    float64
 8   1963            288 non-null    float64
 9   1964            290 non-null    float64
 10  1965            300 non-null    float64
 11  1966            290 non-null    float64
 12  1967            303 non-null    float64
 13  1968            322 non-null    float64
 14  1969            327 non-null    float64
 15  1970            410 non-null    float64
 16  1971            436 non-null    float64
 17  1972            476 non-null    float64
 18  1973            477 non-null    float64
 19  1974            560 non-null    float64
 20  1975            551 non-null    float64
 21  1976            538 non-null    float64
 22  1977            537 non-null    float64
 23  1978            551 non-null    float64
 24  1979            547 non-null    float64
 25  1980            565 non-null    float64
 26  1981            547 non-null    float64
 27  1982            529 non-null    float64
 28  1983            563 non-null    float64
 29  1984            575 non-null    float64
 30  1985            589 non-null    float64
 31  1986            588 non-null    float64
 32  1987            617 non-null    float64
 33  1988            620 non-null    float64
 34  1989            632 non-null    float64
 35  1990            731 non-null    float64
 36  1991            750 non-null    float64
 37  1992            757 non-null    float64
 38  1993            802 non-null    float64
 39  1994            785 non-null    float64
 40  1995            811 non-null    float64
 41  1996            744 non-null    float64
 42  1997            800 non-null    float64
 43  1998            788 non-null    float64
 44  1999            774 non-null    float64
 45  2000            855 non-null    float64
 46  2001            831 non-null    float64
 47  2002            868 non-null    float64
 48  2003            899 non-null    float64
 49  2004            985 non-null    float64
 50  2005            999 non-null    float64
 51  2006            1023 non-null   float64
 52  2007            997 non-null    float64
 53  2008            1094 non-null   float64
 54  2009            1039 non-null   float64
 55  2010            1090 non-null   float64
 56  2011            1071 non-null   float64
 57  2012            1058 non-null   float64
 58  2013            1133 non-null   float64
 59  2014            1095 non-null   float64
 60  2015            1116 non-null   float64
 61  2016            1081 non-null   float64
 62  2017            1046 non-null   float64
 63  2018            1041 non-null   float64
 64  2019            1047 non-null   float64
 65  2020            812 non-null    float64
 66  2021            449 non-null    float64
dtypes: float64(62), int64(1), object(4)
memory usage: 754.9+ KB

In [ ]:
indicator_count = len(data["Indicator Name"])
print("There are {} indicators".format(indicator_count))

There are 1442 indicators

In [ ]:
temp_data = data[
    (data["Indicator Name"] == "Travel services (% of commercial service exports)") |
    (data["Indicator Name"] == "Fuel exports (% of merchandise exports)") |
    (data["Indicator Name"] == "Transport services (% of commercial service imports)") |
    (data["Indicator Name"] == "Taxes on income, profits and capital gains (% of revenue)") |
    (data["Indicator Name"] == "Customs and other import duties (% of tax revenue)") |
    (data["Indicator Name"] == "Other taxes (% of revenue)")
]
display(temp_data)

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,1,Turkiye,TUR,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,NaN,NaN,NaN,NaN,NaN,...,58.267047,47.634198,47.505144,48.165910,40.931624,42.222514,43.064734,44.908990,26.982786,34.093997
7,7,Turkiye,TUR,Fuel exports (% of merchandise exports),TX.VAL.FUEL.ZS.UN,NaN,NaN,1.616343,2.486476,2.285798,...,4.904754,6.111335,4.368138,3.264181,2.137429,2.753725,3.122700,4.494164,2.692390,3.690002
9,9,Turkiye,TUR,Transport services (% of commercial service im...,TM.VAL.TRAN.ZS.WT,NaN,NaN,NaN,NaN,NaN,...,45.913597,25.859753,23.659973,21.728741,28.791281,30.154402,34.532900,34.875250,35.136078,42.611131
161,161,Turkiye,TUR,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.RV.ZS,NaN,NaN,NaN,NaN,NaN,...,17.608743,16.349422,17.556022,16.898657,17.438425,18.098489,19.214488,18.535931,18.121479,NaN
162,162,Turkiye,TUR,Other taxes (% of revenue),GC.TAX.OTHR.RV.ZS,NaN,NaN,NaN,NaN,NaN,...,2.538783,0.964118,1.840978,1.865313,1.825975,1.865783,1.661667,1.616644,1.538568,NaN
163,163,Turkiye,TUR,Customs and other import duties (% of tax reve...,GC.TAX.IMPT.ZS,NaN,NaN,NaN,NaN,NaN,...,1.874524,2.044234,1.879085,2.038445,2.049122,2.418238,2.565901,2.565918,3.010383,NaN

In [ ]:
years_list = data.columns.tolist()[5:]
line_data = pd.melt(frame=temp_data, id_vars='Indicator Name', value_vars=years_list, var_name='years', value_name='rate')
line_data

                                        Indicator Name years       rate
0    Travel services (% of commercial service exports)  1960        NaN
1              Fuel exports (% of merchandise exports)  1960        NaN
2    Transport services (% of commercial service im...  1960        NaN
3    Taxes on income, profits and capital gains (% ...  1960        NaN
4                           Other taxes (% of revenue)  1960        NaN
..                                                 ...   ...        ...
367            Fuel exports (% of merchandise exports)  2021   3.690002
368  Transport services (% of commercial service im...  2021  42.611131
369  Taxes on income, profits and capital gains (% ...  2021        NaN
370                         Other taxes (% of revenue)  2021        NaN
371  Customs and other import duties (% of tax reve...  2021        NaN

[372 rows x 3 columns]

In [ ]:
import plotly.express as px
fig = px.line(line_data, x="years", y="rate", color="Indicator Name",title='Indicators Rates Comparison')
fig.show()

## Linear Regression - Turkey Inflation

In [ ]:
data = pd.read_csv("google_trends_inflation_rate.csv")
data = data.drop(['Indicator Name',
       'Indicator Code', 'Alpha-2 Country Code', 'Lang1', 'ISO 639-1 Code',
       'HL', 'inflation_translation'],axis=1)

In [ ]:
turkey = data[data["Country Name"] == "Turkey"].iloc[0:1,3:63]
turkey

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
224,5.66474,3.172857,3.88832,6.362707,1.119638,4.555534,8.471996,13.974893,6.04624,4.924194,...,8.566444,6.47188,8.89157,7.49309,8.854573,7.670854,7.775134,11.144311,16.332464,15.176822

In [ ]:
from sklearn.model_selection import train_test_split

x = turkey.columns.astype(int).to_numpy()
y = turkey.astype(float).iloc[0,:].to_numpy()

x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.30)

> Shuffle dataset and Split %70 of the dataset for training and %30 for testing

In [ ]:
from sklearn.linear_model import LinearRegression

# create model
lr = LinearRegression()

# reshape the data to 2d array
x_train = x_train.reshape(-1,1)

# train the model
lr.fit(x_train,y_train)

LinearRegression()

> Train the model with train data

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

# reshape the data to 2d array
x_test = x_test.reshape(-1, 1)

# predict the test data
pr = lr.predict(x_test)

print("Mean Squared Error: ",mean_squared_error(y_test, pr))
print("Mean Absolute Error: ",mean_absolute_error(y_test, pr))

Mean Squared Error:  631.4016777881554
Mean Absolute Error:  23.510461420376732

In [ ]:
# fit a polynomial of degree 1
line = np.polyfit(x, y, 1)
# create the polynom
poly = np.poly1d(line)

In [ ]:
import plotly.graph_objects as go

fig = go.Figure()

# Add traces
fig.add_trace(go.Scatter(x=x, y=y,
                    mode='markers',
                    name='inflation rate'))
fig.add_trace(go.Scatter(x=x, y=poly(x),
                    mode='lines',
                    name='polynom'))

fig.show()

### Predict Turkey inflation rate in 2023

In [ ]:
year_2023 = np.array([2023])
year_2023 = year_2023.reshape(-1, 1)
predict_2023_inflation = lr.predict(year_2023)
predict_2023_inflation[0]

41.13308940341051